# Server
NODE_ENV=development
PORT=3000

#MongoDB
MONGODB_URI=mongodb://localhost:27017/trentino-quest?authSource=admin
# DB_RETRY_INTERVAL_MS=5000

# Da cambiare con una chiave segreta più sicura in produzione
JWT_SECRET=406aa2c38f27127dd1e16955c3e9e1f0cefea32be597946c1bda6e20b192af40 
# JWT_EXPIRES_IN=7d
